@font-face {
  font-family: myFont;
  src: url('../fonts/Bohemian\ Typewriter.ttf');
}

div#footer {
  position:fixed;
  text-align: center;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}


body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
  font-weight: 400;
}

img {
  height: 300px;
  width: auto;
}

.container {
  margin-top: 50px;
  padding: 2em;
  text-align: left;
  font-size: 20px;
}

a {
  color: #49f8fb ;
}

.inner {
  margin-top: 1em;
}
