@{
  Layout = "_Layout";
}

<div class="row justify-content-start">
  <div class="col-3">
    <p>@Html.ActionLink("Back to engineers", "Index")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
  <div class="col-9">
    @model Factory.Models.Engineer

    <h2>Are you sure you want to delete @Html.DisplayFor(model => model.Description)?</h2>
    <br>
    @using (Html.BeginForm())
    {
      <input type="submit" value="Delete" />
    }

  </div>
</div>