@{
  Layout = "_Layout";
}

<h1>Factory Floor</h1>
<br>
<br>
<div class="row justify-content-start">
  <div class="col">
    <p>@Html.ActionLink("See all machines", "Index", "Machines")</p>
  </div>
  <div class="col">
    <p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p>
  </div>
</div>